.translator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
select {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  background-color: white;
}

option {
  font-size: 18px;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.translate-btn,
.clear-btn {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.translate-btn {
  background-color: #3f51b5;
  color: white;
}

.clear-btn {
  background-color: #e74c3c;
  color: white;
}

.clear-btn:hover {
  background-color: #ac302c;
}

.translate-btn:hover {
  background-color: #336495;
}

.translated-text {
  margin-top: 30px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  color: #555;
}

.translator-container h1 {
  font-size: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 850px) {
  input,
  select {
    max-width: 100%;
  }

  .btn-group {
    flex-direction: row;
    align-items: center;
  }

  .translate-btn,
  .clear-btn {
    max-width: unset;
    margin-bottom: 0;
    margin-right: 10px;
  }
}


/* NOTES */
/* NOTES */
/* NOTES */
.notes-container {
  margin: 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.notes-input {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1.5rem;
  width: 70%;
}

.notes-button {
  padding: 10px 15px;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.notes-button:hover {
  background-color: #336495;
}

.notes-list {
  display: flex;
  flex-direction: column;
}

.note-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;

  width: 80%;
  max-width: 600px;
}

.note-text {
  font-size: 1.5rem;
}

.note-delete {
  padding: 5px 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.note-delete:hover {
  background-color: #c0392b;
}

.notes-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.notes-container h1 {
  font-size: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 850px) {
  .notes-container {
    margin: 10px;
  }

  h1 {
    font-size: 40px;
    margin-top: 50px;
  }

  .notes-input {
    width: 100%;
    margin-right: 0;
  }
  
  .notes-list {
    width: 100%;
  }

  .note-container {
    width: 100%;
  }

  .note-text, .note-delete {
    font-size: 1rem;
  }
}
